<div class="menu">
  <ul id="menu_horizontal">
    <li><a href="/moncompte" target="_blank">Mon compte</a></li>
    <li><a href="/login" target="_blank">Se connecter</a></li>
    <li><a href="/signup" target="_blank">Créer un compte</a></li>
  </ul>
</div>

<center>
<h1><%=mesdata.title%></h1>
<p><%=mesdata.content%></p>
<div class="info">
<p>Votre email : <%=user.email%></p>
<p>Votre Nom : <%=user.nom%></p>
<p>Votre prenom : <%=user.prenom%></p>
</div>
</center>

<br /><br />

<div class=modif>
<h1>Modifier vos informations :</h1>
  <form method="POST" action="/user/<%= user.id%>" >
    <p>Nom :  </p><input type="text" name="nom" >
    <p>prenom :  </p><input type="text" name="prenom" ><br /><br />
     <input class="submit" type="submit" value="submit">
</div>


